* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.App {
  text-align: center;
}

.navbar {
  height: 60px;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar > li {
  margin: 0 16px;
  padding: 5px 10px;
  font-size: 1.3rem;
  border: 1px solid #ffffff;
  transition: border 350ms ease;
}

.navbar > li:hover {
  border: 2px solid #00ffbf;
}

.content {
  background-color: #000000;
  color: white;
  height: 100vh;
}

.Home > .banner {
  padding: 5rem 0;
}

.banner--title {
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;
}

.banner--title .title--pri {
  font-size: 4rem;
  text-transform: uppercase;
  color: #eeff00;
  font-weight: 900;
}

.banner--title .title--sec {
  font-size: 4rem;
  text-transform: uppercase;
  color: #006eff;
  font-weight: 900;
}

.Shoes {
  width: 90%;
  margin: 0 auto;
  padding: 5rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.item:hover > .item--img img {
  transform: scale(1.3);
}

.item > .item--img {
  width: 250px;
  border-radius: 10px;
  height: 200px;
  overflow: hidden;
}

.item > .item--img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  transition: 360ms ease;
}

.item > h3 {
  margin-top: 10px;
  letter-spacing: 1px;
}

.CheckIn {
  padding: 5rem 0;
}

@media (max-width: 680px) {
  .content {
    height: auto;
  }
  .Home {
    height: 100vh;
  }
}
